.buttons-group {
    margin-top: 75px;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    padding-top: 2px;
    padding-left: 70px;
    padding-right: 70px;

    @media screen and (max-width: 1199px) {
        padding-left: 200px;
        padding-right: 100px;
        margin-top: -100px;
        position: relative;
        z-index: 2;
    }

    @media screen and (max-width: 991px) {
        padding: 0 150px;
    }

    @media screen and (max-width: 575px) {
        padding: 0px;
        margin-top: 20px;
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        background-color: white;
        border: none;
        font-size: 20px;
        font-weight: 300;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        cursor: pointer;

        &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        }

    }

    &__text {
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-grow: 3;
        justify-content: center;
        color: #262626;
        font-size: 20px;
        font-weight: 700;

        &--delivery {
            @media screen and (max-width: 575px) {
                margin-left: -20px;
                margin-right: -20px;
            }

            @media screen and (max-width: 376px) {
                font-size: 19px;
            }
        }
    }

    &__img {
        display: flex;
        min-height: 98px;
        width: 100px;
        justify-content: center;
        align-content: center;
        border-left: 1px solid grey;
    }
}