
mixin buttons-group
    .buttons-group
        button.buttons-group__btn
            .buttons-group__text.buttons-group__text--shopping
                p Online Shopping
            .buttons-group__img.buttons-group__img--shopping
                img(src="icons/cart.svg" alt="cart").lazy
        button.buttons-group__btn
            .buttons-group__text.buttons-group__text--products
                p Quality Product
            .buttons-group__img.buttons-group__img--products
                img(src="icons/hand.svg" alt="hand").lazy
        button.buttons-group__btn
            .buttons-group__text.buttons-group__text--delivery
                p Domestic & International <br> Delivery
            .buttons-group__img.buttons-group__img--delivery
                img(src="icons/earth.svg" alt="earth").lazy
        button.buttons-group__btn
            .buttons-group__text.buttons-group__text--organized
                p Well Organized
            .buttons-group__img.buttons-group__img--organized
                img(src="icons/carrot.svg" alt="carrot").lazy