.desc-contact {
    text-align: left;
    padding-left: 8px;
    padding-top: 11px;

    & a {
        color: black;

        &:hover {
            text-decoration: underline;
            ;
        }
    }

    &__title {
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__info {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 18px;
    }

    @media screen and (max-width: 991px) {
        margin-bottom: 40px;
    }
}