mixin desc-contact
    .desc-contact                        
        .desc-contact__wrapper
            h4.desc-contact__title address
            p.desc-contact__info
                a(href="https://www.google.com/maps/place/Tavriia+V/@46.9539793,31.9940665,18z/data=!4m5!3m4!1s0x40c5cbe15c7ec075:0xcdf271b8eba9bc2c!8m2!3d46.9536888!4d31.9940221" target="_blank").desc-contact__link 123 City name, Street, City, Country
        .desc-contact__wrapper
            h4.desc-contact__title email
            p.desc-contact__info
                a(href="mailto:cahee@domain.com" target="_blank").desc-contact__link cahee@domain.com
        .desc-contact__wrapper
            h4.desc-contact__title phone
            p.desc-contact__info
                a(href="tel:+012 345 6789" target="_blank").desk-contact__link +012 345 6789