mixin gallery
    .gallery
        .gallery__list.gallery__list--firstline
            .row
                .col-8
                    img(src="images/gallery1.png" alt="").gallery__img
                .col-4.d-flex.flex-column.justify-content-between
                    img(src="images/gallery2.png" alt="").gallery__img
                    img(src="images/gallery3.png" alt="").gallery__img
        .gallery__list.gallery__list--secondline
            .row
                .col-6
                    img(src="images/gallery4.png" alt="").gallery__img
                .col-6
                    img(src="images/gallery5.png" alt="").gallery__img