.gallery {
    &__list {
        &--firstline {
            margin-bottom: 27px;

            @media screen and (max-width: 991px) {
                margin-bottom: 0px;
            }
        }

        &--secondline {
            margin-bottom: 47px;

            @media screen and (max-width: 991px) {
                margin-bottom: 17px;
            }
        }
    }

    &__img {
        height: auto !important;
        max-width: 100%;
        display: block;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

        @media screen and (max-width: 991px) {
            object-fit: contain;
            margin-bottom: 30px;
        }

        &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        }
    }
}