.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 51px;
    margin-bottom: 252px;

    &__link {
        line-height: 42px;
        text-align: center;
        background-color: #5585a2;
        color: white;
        display: block;
        width: 100%;

        &:after {
            display: none !important;
        }

        &:before {
            display: none !important;
        }
    }

    &__checkbox {
        display: none;
    }

    &__burger {
        width: 42px;
        height: 42px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        font-size: 42px;

        &>.fa-times {
            display: none;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }

    }

    &__logo {
        margin-left: 38px;
    }

    &__list {
        display: flex;
        font-size: 16px;
        font-weight: 700;

        & a {
            text-decoration: none;
            color: black;
        }

        @media screen and (max-width: 767px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #5585a2;
            max-height: 0;
            overflow: hidden;
            transition: ease .3s;
        }

        @media screen and (max-width: 767px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #5585a2;
            max-height: 0;
            overflow: hidden;
            transition: ease .3s;
        }

    }

    &__item {
        position: relative;
        margin: 0 20px;

        &:after {
            position: absolute;
            content: '';
            display: none;
            top: -11px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ff6033;
        }

        &:hover {
            &:after {
                display: block;
            }
        }

        &--active {
            &:after {
                content: '';
                display: block;
                top: -11px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #ff6033;
            }
        }
    }

    &__checkbox:checked+&__burger+&__list {
        max-height: 440px;
        padding-top: 160px;
    }


    &__checkbox:checked+&__burger>.fa-times {
        display: block;
    }

    &__checkbox:checked+&__burger>.fa-hamburger {
        display: none;
    }








    // .nav {
    //     &__checkbox:checked+&__burger+&__list {
    //         max-height: 440px;
    //         padding-top: 160px;
    //     }






    //     .nav__item {
    //         padding: 0;
    //         margin: 0;
    //         width: 100%;
    //         border-top: 1px solid white;
    //     }



    // .nav__link:before,
    // .nav__link:after {}
}