include ../footer-logo/_footer-logo.pug

mixin footer
    .footer
        p.footer__copyright &copy; 2015 Company. All right reserved.
        +footer-logo.footer-logo
        p.footer__author Made with 
            a(href="javascript:void(0)").footer__author-link love
            |  by Auskteez