mixin logo
    .logo&attributes(attributes)
        a(href="javascript:void(0)").logo__link
            img(src="./images/brand@x1.png" srcset="./images/brand@x2.png 2x, ./images/brand@x3.png 3x" alt="").lazy