mixin logo
    .logo&attributes(attributes)
        a(href="javascript:void(0)").logo__link
            img(src="./images/logo@x1.png" srcset="./images/logo@x2.png 2x, ./images/logo@x3.png 3x" alt="").lazy