mixin blog
    .blog
        .row
            .col-xl-4.col-lg-4.col-md-6.offset-md-0.offset-lg-0.offset-xl-0
                .box-item
                    a(href="javascript:void(0)").box-item__link
                        img(src="./images/green_smoothies@x1.png" srcset="./images/green_smoothies@x2.png 2x, ./images/green_smoothies@x3.png 3x" alt="food").box-item__img.lazy
                    .box-item__date
                        span.box-item__date-block
                            h2 20
                            h3 nov
                    p.box-item__title.box-item__text Green Smoothies: Too Much of a Good Thing?
                    p.box-item__author.box-item__text By Auskteez - 2 hours ago
            .col-xl-4.col-lg-4.col-md-6.offset-md-0.offset-lg-0.offset-xl-0
                .box-item
                    a(href="javascript:void(0)").box-item__link
                        img(src="images/growing_food@x1.png" srcset="images/growing_food@x2.png 2x, images/growing_food@x3.png 3x" alt="food").box-item__img.lazy
                    .box-item__date
                        span.box-item__date-block
                            h2 14
                            h3 nov
                    p.box-item__title.box-item__text Growing Food and a “Thirst” for Innovation
                    p.box-item__author.box-item__text By Auskteez - 3 hours ago
            .col-xl-4.col-lg-4.col-md-6.offset-md-3.offset-lg-0.offset-xl-0
                .box-item
                    a(href="javascript:void(0)").box-item__link
                        img(src="images/pesticides&food@X1.png" srcset="images/pesticides&food@X2.png 2x, images/pesticides&food@X3.png 3x" alt="food").box-item__img.lazy
                    .box-item__date
                        span.box-item__date-block
                            h2 10
                            h3 nov
                    p.box-item__title.box-item__text Pesticides & Food: What You Need to Know
                    p.box-item__author.box-item__text By Auskteez - 6 hours ago