mixin blog
    .blog
        .row
            .col-4
                .box-item
                    a(href="javascript:void(0)").box-item__link
                        img(src="images/green_smoothies.png" alt="food").box-item__img
                    .box-item__date
                        span.box-item__date-block
                            h2 20
                            h3 nov
                    p.box-item__title.box-item__text Green Smoothies: Too Much of a Good Thing?
                    p.box-item__author.box-item__text By Auskteez - 2 hours ago
            .col-4
                .box-item
                    a(href="javascript:void(0)").box-item__link
                        img(src="images/growing_food.png" alt="food").box-item__img
                    .box-item__date
                        span.box-item__date-block
                            h2 14
                            h3 nov
                    p.box-item__title.box-item__text Growing Food and a “Thirst” for Innovation
                    p.box-item__author.box-item__text By Auskteez - 3 hours ago
            .col-4
                .box-item
                    a(href="javascript:void(0)").box-item__link
                        img(src="images/pesticides&food.png" alt="food").box-item__img
                    .box-item__date
                        span.box-item__date-block
                            h2 10
                            h3 nov
                    p.box-item__title.box-item__text Pesticides & Food: What You Need to Know
                    p.box-item__author.box-item__text By Auskteez - 6 hours ago