mixin footer-logo
    .footer-logo&attributes(attributes)
        a(href="javascript:void(0)").footer-logo__link
            img(src="./images/logo-footerpng@x1.png" srcset="./images/logo-footerpng@x2.png 2x, ./images/logo-footerpng@x3.png 3x" alt="").lazy