mixin form-subscribe
    .form-suscribe
        form(action="" method="get")
            .form-suscribe__wrapper
                input(type="text" name="subscribe_email" placeholder="Your email address..." required).form-suscribe__input
                button(type="submit" id="pointer").form-suscribe__btn subscribe