.form-suscribe {
    margin-left: -1px;

    @media (min-width: 575px) and (max-width: 1199px) {
        margin-left: 38px;
    }

    &__wrapper {
        display: flex;

        @media screen and (max-width: 575px) {
            flex-direction: column;
            margin: 0 50px;
        }
    }

    &__input {
        border: 1px solid black;
        flex-grow: 1;
        margin-right: 31px;
        padding: 0 15px;
        line-height: 50px;
        font-family: 'Raleway', sans-serif;

        @media screen and (max-width: 575px) {
            margin-right: 0px;
            margin-bottom: 20px;
        }

        &::placeholder {
            font-family: 'Raleway', sans-serif;
            color: #a7a7a7;
            font-size: 15px;
            font-weight: 300;
        }
    }

    &__btn {
        border: none;
        font-size: 20px;
        font-weight: 300;
        color: white;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 16px 30px 14px 30px;
        background-color: #96b92c;
        cursor: pointer;

        &:hover {
            background-color: #b2db35;
        }
    }
}